# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. SciPy
4. SKLearn
5. Matplotlib
6. Seaboarn

| Data Science Tools|
---------------------
|Jupyter Notebook|
|VS Code|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python.
- \+
- \-
- \*
- /

In [1]:
# This is simple arithmetic expression to multiply then add integers*
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Formatting of markdown cells
- Creating of ordered and unordered lists
- List basic arithmetic operations
- Perform basic arithmetic operation

## Author
Earl Santos